@page "/users"
@inject Services.IUserService userService;
@inject NavigationManager navigationManager;

<PageTitle>View Users</PageTitle>

<div class="row mb-3 justify-content-end">
    <div class="col-auto">
        <a href="/user/automated"><button class="btn btn-warning">Automated Upload</button></a>
    </div>
    <div class="col-auto">
        <a href="/adduser"><button class="btn btn-success">Add User</button></a>
    </div>
    <div class="col-auto">
        <input @bind="SearchValue" type="text" class="form-control" placeholder="Search User By First Name" />
    </div>
    <div class="col-auto">
        <button class="btn btn-primary btn" @onclick="async () => await Search()">Search</button>
    </div>
</div>
<hr />

@if (SelectedUsers is not null && SelectedUsers.Any())
{
    <table class="table table-hover table-striped" role="button">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
                <th scope="col">Birthday</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in SelectedUsers)
            {
                <tr @onclick="() => GoToUserPage(user.Id!)">
                    <td>@user.FirstName @user.LastName</td>
                    <td>@user.Grade</td>
                    <td>@user.Birthday!.Value.ToString("d")</td>
                </tr>
            }
        </tbody>
    </table>

    var isPageOne = PageNumber == 1;
    var previousPageClass = isPageOne ? "page-item disabled" : "page-item";
    var isLastPage = PageNumber == TotalPages;
    var nextPageClass = isLastPage ? "page-item disabled" : "page-item";

    <nav aria-label="...">
        <ul class="pagination">
            <li class="@previousPageClass">
                <a class="page-link" @onclick="async () => await Search(PageNumber - 1)" tabindex="-1">Previous</a>
            </li>
            @if (!isPageOne)
            {
                <li class="page-item"><a class="page-link" @onclick="async () => await Search(PageNumber - 1)">@(PageNumber - 1)</a></li>
            }
            <li class="page-item active" aria-current="page">
                <a class="page-link">@PageNumber</a>
            </li>
            @if (!isLastPage)
            {
                <li class="page-item"><a class="page-link" @onclick="async () => await Search(PageNumber + 1)">@(PageNumber + 1)</a></li>
            }
            <li class="@nextPageClass">
                <a class="page-link" @onclick="async () => await Search(PageNumber + 1)">Next</a>
            </li>
        </ul>
    </nav>
}
else
{
    <div class="row">
        <p>No Users Found...</p>
    </div>
}